ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    list-style: none;
    width: 50%;
}
li {
    text-align: center;
    // border-left: 1px dotted rgb(126, 124, 117);
    line-height: 30px;
}
li a {
    font-size: 16px;
    padding: 29px 10px 31px 10px;
    text-transform: capitalize;
    color: rgb(91, 66, 44);
    text-decoration: none;
    width: 20%;
    color: #dfd7c6;
}
li a:hover {
    color: orangered;
}

li a:after {
    content: '';
    padding-bottom: 23px;

    border-bottom: 5px solid rgb(87, 107, 158);
    display: block;
    width: 100px;
    transition: margin 1s ease-in-out;
}

li a:hover:after {
    content: '';
    border-bottom: 3px solid orangered;
    // border-radius: 10px;
    display: block;
    width: 100px;
    margin-top: -1.2em;
}
//mobile only
@media (max-width: 767px) {
}
