.header-menu {
    height: 90px;
    background-image: linear-gradient(
        90deg,
        rgb(26, 19, 19) 0%,
        #2e3b55 55%,
        rgba(71, 73, 74, 0.927608543417367) 100%
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
